
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/docker/caddy/certs/sirdomin.pl.certificate.pem
/docker/caddy/certs/sirdomin.pl.key
