{
    {$CADDY_DEBUG}
}

{$SERVER_NAME}

{$CADDY_EXTRA_CONFIG}

log

route {
    root * /srv/app/public

    mercure {
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        anonymous
        subscriptions
        cert_duration 10000h
        {$MERCURE_EXTRA_DIRECTIVES}
        tls self_signed
        protocol {
            experimental_http3
        }
    }

    vulcain

    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
